*.font:	Terminus (TTF):pixelsize=22:autohint=true;
*.alpha: 0.95

Xft.dpi: 95

*.background:            #2a2e30
*.foreground:            #eeeee4
*.cursor:                #f6f6ec
*.selection_background:  #2e353d
*.color0:                #22252b
*.color8:                #22252b
*.color1:                #b38184
*.color9:                #b38184
*.color2:                #7e9181
*.color10:               #7e9181
*.color3:                #ddb566
*.color11:               #ddb566
*.color4:                #6c6c6c
*.color12:               #6c6c6c
*.color5:                #938696
*.color13:               #938696
*.color6:                #5a8d91
*.color14:               #5a8d91
*.color7:                #e6e8ee
*.color15:               #e6e8ee
*.selection_foreground:  #1b1d22
